/* Font */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  /* Shared styles */
  .display-flex {
    display: flex;
  }
  
  .btn-primary {
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
  }
  
  /* Colors */
  .text-gray {
    color: #424242;
  }
  
  .text-light-gray {
    color: #727272;
  }
  
  
  /* Header + Navbar styles */
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-right: 150px; /* Space after nav items */
    max-width: 1440px;
    margin: 0 auto;
    gap: 590px;
  }
  
  .brand {
    font-weight: 700;
    font-size: 3rem;
  }
  
  .nav-links {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-link {
    text-decoration: none !important;
    color: #333;
    font-weight: 500;
  }
  
  .nav-item {
    padding: 10px;
    list-style: none;
    text-decoration: none;
  }

  .logo{
    margin-right: 590px;
    margin-left: 150px;
    height: 50px; /* or set to whatever fits your design */
    object-fit: contain;
    display: block;
  }
  
  
  /* Banner */
  .banner {
    max-width: auto;
    margin: 0 auto;
  }
  
  .banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px; /* spacing between text and image */
    padding: 40px 150px; /* top/bottom, left/right */
  }
  
  .banner-title {
    font-weight: 329;
    font-size: 65px;
    line-height: 1.2; /* or try 75px for fixed height */

  }

  .highlight {
    color: rgb(233, 90, 8);
  }
  
 
  .banner-image {
    width: 100%;
  }

  .banner-image img {
    width: 570px;
    height: 355px;
    object-fit: cover; /* or contain, depending on how you want it to scale */
    display: block;
  }
  .banner-description {
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-top: 20px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .banner2 {
      flex-direction: column;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      margin-top: 20px;
    }
  
    .banner-title {
      font-size: 2.5rem;
    }
  
    .btn-primary {
      font-size: 1rem;
      padding: 15px 20px;
    }
  }
